<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.keplerproject.dltk.ldt.ui.editor"
            icon="icon/luaeclipse.icon.small.file.editor.png"
            default="false"
            class="org.keplerproject.dltk.ldt.ui.editor.LuaEditor"
            name="Lua Source Editor">
            <contentTypeBinding
                  contentTypeId="org.keplerproject.dltk.ldt.content-type">
            </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.keplerproject.dltk.ldt.ui.LuaUIPreferenceInitializer">
         </initializer>
   </extension>

</plugin>
