<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.core.builder.ParserBuildParticipantFactory"
            id="com.anwrt.ldt.parser"
            name="Lua parser"
            nature="org.keplerproject.luaeclipse.nature">
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.keplerproject.luaeclipse.nature">
         <parser
               class="org.keplerproject.luaeclipse.parser.LuaSourceParserFactory"
               description="Metalua based Lua source parser"
               id="com.anwrt.ldt.parser.sourceParser"
               name="sourceParser.name"
               priority="0">
         </parser>
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.keplerproject.luaeclipse.parser.LuaSourceElementParser"
            nature="org.keplerproject.luaeclipse.nature"
            priority="1">
      </parser>
   </extension>

</plugin>
