<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.keplerproject.ldt.ui.baseExts"
   name="BaseExts Plug-in"
   version="1.0.0"
   provider-name="Kepler Project"
   class="org.keplerproject.ldt.ui.baseExts.BaseExtsPlugin">

   <runtime>
      <library name="baseExts.jar">
         <export name="*"/>
      </library>
      <library name="luajava-1.0.jar">
         <export name="*"/>
      </library>
   </runtime>  

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.keplerproject.ldt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.keplerproject.ldt.core"/>
      
   </requires>
   <extension
         id="org.keplerproject.ldt.ui.baseExts.ScannerRulesExtension"
         name="Lua Base PartitionerScanner"
         point="org.keplerproject.ldt.ui.ScannerRulesExtension"> 
         <partitioner contributor="org.keplerproject.ldt.ui.baseExts.scanner.PartitionerScannerExtension"/>
   </extension>
   <extension
         id="org.keplerproject.ldt.ui.baseExts.SourceConfigExt"
         name="Lua SourceConfigurations Extension"
         point="org.keplerproject.ldt.ui.SourceConfigurationExtension">
         <content     contributor="org.keplerproject.ldt.ui.baseExts.scanner.LuaContentTypeContributor"/>
         <reconcilier contributor="org.keplerproject.ldt.ui.baseExts.scanner.LuaReconcilierContributor"/>
         <assist      contributor="org.keplerproject.ldt.ui.baseExts.completion.LuaContentAssistContributorExtension"/>
         
   </extension>

</plugin>
