<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.keplerproject.ldt.ui.baseExts"
   name="BaseExts Plug-in"
   version="1.0.0"
   provider-name="Kepler Project"
   class="org.keplerproject.ldt.ui.baseExts.BaseExtsPlugin">

   <runtime>
      <library name="baseExts.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.keplerproject.ldt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>
   <extension
         id="org.keplerproject.ldt.ui.baseExts.partitionerScaner"
         name="Lua Base PartitionerScanner"
         point="org.keplerproject.ldt.ui.partitionerScannerRules">
         <rule contributor="org.keplerproject.ldt.ui.baseExts.scanner.PartitionerScannerExtension"/>
   </extension>
   <extension
         id="org.keplerproject.ldt.ui.baseExts.reconcilierScaner"
         name="Lua Base Reconcilier Scanner"
         point="org.keplerproject.ldt.ui.reconcilierScannerRules">
         <rule contributor="org.keplerproject.ldt.ui.baseExts.scanner.LuaCodeScannerExtension"/>
   </extension>

</plugin>
