<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Lua Debug"
            nameFilter="*.lua"
            class="org.keplerproject.ldt.debug.ui.properties.LuaDebugProperties"
            id="org.keplerproject.ldt.debug.ui.properties.samplePropertyPage">
            <enabledWhen>
            	<instanceof
                   value="org.eclipse.core.resources.IFile">
            	</instanceof>
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.keplerproject.ldt.debug.ui.launcher.LuaLaunchConfigurationTabGroup"
            id="lua.launchConfigurationTabGroup"
            type="lua.launchType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.keplerproject.ldt.debug.ui.launcher.LuaLaunchShortcut"
            icon="icons/luaeclipse.icon.small.lua.gif"
            id="lua.launchShortcut"
            label="Debug Lua Script with RemDebug"
            modes="debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.lua">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="ldt.ui.editors.LuaEditor.rulerActions"
            targetID="org.keplerproject.ldt.ui.editors.LuaEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="lua.dblClickToggleBreakpoint"
               label="label"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="lua.editor.rulerActions"
            targetID="lua.editor.rulerMenu">
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="lua.editor.ruler.toggleBreakpointAction"
               label="Toggle Breakpoint"
               menubarPath="debug">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.keplerproject.ldt.ui.editors.LuaEditor"
            class="org.keplerproject.ldt.debug.ui.breakpoints.LuaEditorAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.keplerproject.ldt.debug.ui.presentation.LuaDebugModelPresentation"
            id="lua.debugModelPresentation">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Debugging Lua Scripts"
            id="lua.debugging"
            name="Debugging Lua Scripts"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="lua.debugging"
            debugModelId="lua.debugModelPresentation">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="lua.launchType"
            icon="icons/luaeclipse.icon.small.lua.gif"
            id="lua.typeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.debug.internal.ui.DebugPerspectiveFactory"
            fixed="false"
            icon="icons/luaeclipse.icon.small.lua.gif"
            id="org.eclipse.debug.ui.DebugPerspective"
            name="RemDebug Perspective">
      </perspective>
   </extension>

</plugin>
