<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
      		canSearchEnclosingProjects="true"
            class="org.keplerproject.dltk.ldt.ui.ide.search.LuaSearchPage"
            enabled="true"
            icon=""
            id="org.keplerproject.dltk.ldt.ui.ide.search.LuaSearchPage"
            label="Lua Search"
            showScopeSection="true"
            sizeHint="460, 160"
            />
   </extension>
	<extension
	      point="org.eclipse.dltk.core.search">
	      <seachFactory
             class="org.keplerproject.dltk.ldt.ui.ide.search.LuaSearchFactory"
             nature="org.keplerproject.dltk.ldt.nature"
             priority="0" />
	</extension>
	<extension
	      point="org.eclipse.dltk.core.selectionEngine">
	      <selectionEngine
             class="org.keplerproject.dltk.ldt.ui.ide.selection.LuaSelectionEngine"
             nature="org.keplerproject.dltk.ldt.nature"
             priority="0">
	      </selectionEngine>
	</extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.keplerproject.dltk.ldt.ui.ide.perspectives.LuaPerspective"
          icon="icons/luaeclipse.icon.small.lua.gif"
          id="org.keplerproject.dltk.ldt.ui.ide.perspectives.LuaPerspective"
          name="Lua">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.keplerproject.dltk.ldt.category"
          name="Lua">
    </category>
    <wizard
          category="org.keplerproject.dltk.ldt.category"
          class="org.eclipse.dltk.ui.wizards.GenericDLTKProjectWizard:org.keplerproject.dltk.ldt.nature"
          finalPerspective="org.keplerproject.dltk.ldt.ui.ide.perspectives.LuaPerspective"
          icon="icons/luaeclipse.newproject.icon.png"
          id="org.keplerproject.dltk.ldt.wizard"
          name="Simple Lua Project"
          preferredPerspectives="org.keplerproject.dltk.ldt.ui.ide.perspectives.LuaPerspective"
          project="true">
       <description>
          A simple Lua project is a project comprised of Lua scripts. This kind of project can use both lua and binary modules, and can be configured to select a distinct launcher if necessary.
       </description>
    </wizard>
    <wizard
          category="org.keplerproject.dltk.ldt.category"
          class="org.keplerproject.dltk.ldt.ui.wizards.LuaNewFileWizard"
          icon="icons/luaeclipse.icon.small.file.gif.png"
          id="org.keplerproject.dltk.ldt.ui.ide.wizards.newfile"
          name="New Lua File">
       <description>
          New lua script file
       </description>
    </wizard>
    <wizard
          category="org.keplerproject.dltk.ldt.category"
          class="org.keplerproject.dltk.ldt.ui.wizards.LuaNewModuleWizard"
          icon="icons/luaeclipse.icon.small.module.gif.png"
          id="org.keplerproject.dltk.ldt.ui.ide.wizards.newmodule"
          name="New Lua Module">
       <description>
          Create a new lua module. A module is useable by several projects.
       </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.keplerproject.dltk.ldt.ui.interpreter.LuaInterpreterPreferencePage"
          id="org.keplerproject.dltk.ldt.preferences.interpreters"
          name="Lua Interpreter">
    </page>
 </extension>
 <extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="org.keplerproject.dltk.ldt.ui.LuaUILanguageToolkit"
          nature="org.keplerproject.dltk.ldt.nature"
          priority="0">
    </language>
 </extension>
</plugin>
