<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.anwrt.ldt.editor"
         name="Lua editor"
         point="org.eclipse.ui.editors">
      <editor
            class="com.anwrt.ldt.editor.LuaEditor"
            default="false"
            icon="img/lua-logo.gif"
            id="com.anwrt.ldt.editor"
            name="Lua Editor">
         <contentTypeBinding
               contentTypeId="com.anwrt.ldt.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.anwrt.ldt.internal.editor.text.LuaPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
