<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.keplerproject.ldt.internal.launching.LuaApplicationLaunchConfigurationDelegate"
            id="org.keplerproject.ldt.launching.LaunchConfigurationTypeLuaApplication"
            modes="run"
            name="Lua Standalone Application"
            sourceLocatorId="org.keplerproject.ldt.launching.ui.luaSourceLocator">
         <!--<fileExtension
               default="true"
               extension="lua">
         </fileExtension>-->
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/run_lua.gif"
            configTypeID="org.keplerproject.ldt.launching.LaunchConfigurationTypeLuaApplication"
            id="org.keplerproject.ldt.launching.LaunchConfigurationTypeImageLuaApplication">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.keplerproject.ldt.launching.LaunchConfigurationTypeLuaApplication"
            class="org.keplerproject.ldt.internal.launching.ui.LuaApplicationTabGroup"
            id="org.keplerproject.ldt.launching.ui.LaunchConfigurationTabGroupLuaApplication">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Lua Application"
            icon="icons/run_lua.gif"
            modes="run"
            class="org.keplerproject.ldt.internal.launching.ui.LuaApplicationShortcut"
            id="org.keplerproject.ldt.launching.ui.luaShortcut">
        <contextualLaunch>
		<enablement>
		<with variable="selection">
		<count value="1"/>
			<iterate>
			<or><test property="org.eclipse.debug.ui.matchesPattern" value="*.lua"/></or>
			</iterate>
		</with>
		</enablement>
		</contextualLaunch>
         <!--<perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <perspective id="org.eclipse.debug.ui.DebugPerspective"/>-->
      </shortcut>
   </extension>
	<extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="LuaSourceLocator"
            class="org.keplerproject.ldt.internal.launching.ui.LuaSourceLocator"
            id="org.keplerproject.ldt.launching.ui.luaSourceLocator">
      </sourceLocator>
   </extension>

	<extension point="org.eclipse.ui.preferencePages">
     <page
            name="Installed Interpreters"
            category="org.keplerproject.ldt.ui.preferences.PreferencePageLua"
            class="org.keplerproject.ldt.internal.launching.ui.preferences.LuaInterpreterPreferencePage"
            id="org.keplerproject.ldt.launching.ui.preferences.PreferencePageLuaInterpreter">
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
	<command 
		categoryId="org.eclipse.debug.ui.category.run" 
		description="Run Lua Script" 
		id="org.keplerproject.ldt.launching.ui.luaShortcut.run" 
		name="Rua Lua" />
	<!--<keyBinding 
		commandId="org.keplerproject.ldt.launching.ui.luaShortcut.run" 
		keySequence="M2+M3+X L"  
		keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration" 
		contextId="org.eclipse.ui.globalScope"/-->   	
   </extension>
   <!--<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.keplerproject.ldt.launcher.preferences.PreferenceInitializer">
      </initializer>
   </extension>-->
	
</plugin>
