<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ScannerRulesExtension" name="ScannerRulesExtension" schema="schema/ScannerRules.exsd">
   </extension-point>
   <extension-point id="SourceConfigurationExtension" name="SourceConfigurationExtension" schema="schema/SourceConfigurationExt.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.keplerproject.ldt.ui.editors.LuaEditor"
            contributorClass="org.keplerproject.ldt.ui.editors.LuaEditorActionContributor"
            default="true"
            extensions="lua"
            icon="icons/file.gif"
            id="org.keplerproject.ldt.ui.editors.LuaEditor"
            name="Lua File Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Lua"
            class="org.keplerproject.ldt.ui.preferences.LuaPreferencePage"
            id="org.keplerproject.ldt.ui.preferences.PreferencePageLua">
      </page>
   </extension>

   <extension
         name="LuaEclipse Wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.keplerproject.ldt.ui.luaCategory"
            name="Lua"/>
      <wizard
            canFinishEarly="true"
            category="org.keplerproject.ldt.ui.luaCategory"
            class="org.keplerproject.ldt.ui.wizards.LuaProjectWizard"
            finalPerspective="all"
            hasPages="true"
            id="org.keplerproject.ldt.ui.luaProject.Wizard"
            name="New Lua Project"
            preferredPerspectives="all"
            project="true"
            icon="icons/project.gif">
         <description>
            Creation of Lua Projects
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.keplerproject.ldt.ui.luaCategory"
            class="org.keplerproject.ldt.ui.wizards.LuaFileWizard"
            finalPerspective="all"
            hasPages="true"
            id="org.keplerproject.ldt.ui.luaFile.Wizard"
            name="New Lua File"
            preferredPerspectives="all"
            project="false"
            icon="icons/file.gif">
            <selection class="org.eclipse.core.resources.IResource" />
         <description>
            Creation of Lua Source File
         </description>
      </wizard>
   </extension>
   
   <extension id="NewLuaProjectAction"
         name="New Lua Project Wizard Action"
         point="org.eclipse.ui.actionSets">
  <actionSet id="org.keplerproject.ldt.ui.luaProjectAction"
        label="Lua Actions"
        visible="true">        
    <action id="org.keplerproject.ldt.ui.actions.LuaProjectWizardActions"
          menubarPath="file/new/additions"
          icon="icons/project.gif"
          tooltip="Starts the New Lua Project Wizard."
          label="New Lua Project"
          class="org.keplerproject.ldt.ui.actions.LuaProjectWizardActions">
     </action>
     <action id="org.keplerproject.ldt.ui.actions.LuaFileWizardAction"
          menubarPath="file/new/additions"
          icon="icons/file.gif"
          tooltip="Starts the New Lua File Wizard."
          label="New Lua File"
          class="org.keplerproject.ldt.ui.actions.LuaFileWizardAction">
    </action>
  </actionSet>
</extension>

<extension
         point="org.eclipse.ui.popupMenus">
       
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.keplerproject.ldt.core.contribution1">
         <menu
         id="org.keplerproject.ldt.ui.luaMenu"
         label="Lua Actions"
         path="group.new">
      <separator name="group1"/>
      </menu>
         <action
               class="org.keplerproject.ldt.core.project.ToggleNatureAction"
               enablesFor="+"
               icon="icons/project.gif"
               id="org.keplerproject.ldt.core.addRemoveNatureAction"
               label="Add/Remove Lua Nature"
               menubarPath="org.keplerproject.ldt.ui.luaMenu/group1">
         </action>
        <action id="org.keplerproject.ldt.ui.actions.LuaFileWizardAction"
          icon="icons/file.gif"
          enablesFor="+"
          tooltip="Starts the New Lua File Wizard."
          label="New Lua File"
          class="org.keplerproject.ldt.ui.actions.LuaFileWizardAction"
          menubarPath="org.keplerproject.ldt.ui.luaMenu/group1">
         </action>
      </objectContribution>
   </extension>




</plugin>
