<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="ScannerRulesExtension" name="ScannerRulesExtension" schema="schema/ScannerRules.exsd">
   </extension-point>
   <extension-point id="SourceConfigurationExtension" name="SourceConfigurationExtension" schema="schema/SourceConfigurationExt.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.keplerproject.ldt.ui.editors.LuaEditor"
            contributorClass="org.keplerproject.ldt.ui.editors.LuaEditorActionContributor"
            default="true"
            extensions="lua"
            icon="icons/file.gif"
            id="org.keplerproject.ldt.ui.editors.LuaEditor"
            name="Lua File Editor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Lua"
            class="org.keplerproject.ldt.ui.preferences.LuaPreferencePage"
            id="org.keplerproject.ldt.ui.preferences.PreferencePageLua">
      </page>
   </extension>

</plugin>
