<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.keplerproject.ldt.luaprofiler.launcher.LuaProfilerLaunchConfigurationDelegate"
            id="org.keplerproject.ldt.launching.ProfilerLaunchConfigurationTypeLuaApplication"
            modes="run"
            name="Lua Profiler"
            sourceLocatorId="org.keplerproject.ldt.launching.ui.luaSourceLocator">
         <fileExtension
               default="true"
               extension="lua">
         </fileExtension>
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.keplerproject.ldt.launching.ProfilerLaunchConfigurationTypeLuaApplication"
            class="org.keplerproject.ldt.luaprofiler.launcher.ui.LuaProfilerApplicationTabGroup"
            id="org.keplerproject.ldt.launching.ui.ProfilerLaunchConfigurationTabGroupLuaApplication">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Lua"
            id="org.keplerproject.ldt.luaprofiler.core">
      </category>
      <view
            name="Lua Profiler View"
            icon="icons/sample.gif"
            category="org.keplerproject.ldt.luaprofiler.core"
            class="org.keplerproject.ldt.luaprofiler.core.views.LuaProfilerView"
            id="org.keplerproject.ldt.luaprofiler.core.views.LuaProfilerView">
      </view>
   </extension>
   
   <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.keplerproject.ldt.luaprofiler.launcher.ui.LuaProfilerPerspective"
          id="org.keplerproject.ldt.luaprofiler.launcher.ui.LuaProfilerPerspective" 
          name="Lua Profiler"
          icon="icons/sample.gif" />
 </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.keplerproject.ldt.luaprofiler.launcher.ui.LuaProfilerPerspective">
      </perspectiveExtension>
   </extension>

   <extension point="org.eclipse.ui.commands">
	<command 
		categoryId="org.eclipse.debug.ui.category.run" 
		description="Profile Lua Script" 
		id="org.keplerproject.ldt.luaprofiler.launcher.ui.luaShortcut.run" 
		name="Profile Lua" />
	<keyBinding 
		commandId="org.keplerproject.ldt.luaprofiler.launcher.ui.luaShortcut.run" 
		keySequence="M2+M3+X P"  
		keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration" 
		contextId="org.eclipse.ui.globalScope"/>   	
   </extension>
   
	<extension point="org.eclipse.ui.preferencePages">
     <page
            name="Lua Profiler"
            category="org.keplerproject.ldt.ui.preferences.PreferencePageLua"
            class="org.keplerproject.ldt.luaprofiler.launcher.ui.preferences.LuaProfilerPreferencePage"
            id="org.keplerproject.ldt.luaprofiler.launcher.ui.preferences.LuaProfiler">
      </page>
   </extension>
</plugin>
