<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="linux_32">

   <environment>
      <os>linux</os>
      <ws>gtk</ws>
      <arch>x86</arch>
   </environment>

   <location useDefault="true"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
   </content>

</target>
